.certs-container {
  margin-top: 200px;
}

.certs-content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 40px;
  padding: 55px;
  background-color: #fff;
  width: 100%;
}

.cert-item {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #b2b3b5;
  padding: 10px;
  cursor: pointer;
}

.cert-item:nth-child(1) {
  border: 3px solid #cc61fe;
}

.cert-item:nth-child(2) {
  border: 3px solid #ff5801;
}

.cert-item:nth-child(3) {
  border: 3px solid #7064fe;
}

.ibm span {
  color: #cc61fe;
}

.microsoft span {
  color: #ff5801;
}

.meta span {
  color: #7064fe;
}

.cert-img {
  width: 100%;
  height: auto;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  display: block;
}

.cert-item h5 {
  font-weight: 600;
  color: #354459;
  margin: 20px 0 10px !important;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
  direction: ltr !important;
}

.cert-item span {
  font-weight: 700;
  transition: color 0.3s ease;
}

.cert-item:hover {
  -webkit-transform: translateY(-5px) scale(1.03);
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-color: #ffc700;
}

.cert-item:hover span {
  color: #ffc700;
}

.cert-item:hover .cert-img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.certs-container button {
  background-color: #ffc700;
  color: #191d30 !important;
  border-radius: 12px;
  padding: 15px 30px 10px;
  font-size: 20px;
  font-weight: 700 !important;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.certs-container button:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media (max-width: 992px) {
  .certs-content {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .certs-container button {
    border-radius: 7px;
    padding: 10px 20px 5px;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .certs-container {
    margin-top: 170px;
  }

  .certs-content {
    padding: 50px 30px;
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .cert-item h5 {
    font-size: 16px;
    margin: 20px 0 10px !important;
  }
}
