.certs-container {
  margin-top: 200px;
}

.certs-content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 40px;
  padding: 55px;
  background-color: #fff;
  gap: 30px;
  width: 100% !important;
}

.cert-item {
  background-color: #fff;
  border-radius: 15px;
  transition: all 0.3s;
  box-shadow: 0px 8px 70px rgba(11, 46, 65, 0.12);
  border: 2px solid #b2b3b5;
  padding: 10px;
}

.cert-item:nth-child(1) {
  border: 3px solid;
  border-color: #cc61fe;
}

.cert-item:nth-child(2) {
  border: 3px solid;
  border-color: #ff5801;
}

.cert-item:nth-child(3) {
  border: 3px solid;

  border-color: #7064fe;
}

.ibm span {
  color: #cc61fe;
}
.microsoft span {
  color: #ff5801;
}
.meta span {
  color: #7064fe;
}

.cert-item img {
  width: 100%;
  height: auto;
}

.cert-item h5 {
  font-weight: 600;
  color: #354459;
  margin: 20px 0 10px 0 !important;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
}

.cert-item span {
  font-weight: 700;
  transition: all 0.3s;
}

.cert-item:hover {
  -webkit-transform: scale(103%);
  transform: scale(103%);
  box-shadow: -1px 95px 94px -80px #898989bf;
  border-color: #ffc700;
}

.cert-item:hover span {
  color: #ffc700;
}

.certs-container button {
  background-color: #ffc700;
  color: #191d30 !important;
  border-radius: 12px;
  padding: 10px 30px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700 !important;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certs-container button:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media (max-width: 992px) {
  .certs-content {
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .certs-container button {
    border-radius: 7px;
    padding: 5px 20px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700 !important;
  }
}

@media (max-width: 600px) {
  .certs-container {
    margin-top: 170px;
  }

  .certs-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .cert-item h5 {
    font-weight: 600;
    color: #354459;
    margin: 20px 0 10px 0 !important;
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
  }
}

.cert-item {
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cert-item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.cert-img {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.cert-item:hover .cert-img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  border-radius: 7px 7px 0px 0px;
}
