.service-container {
  margin-top: 230px;
}

.service-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  padding: 25px;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
  border: 1px solid rgba(53, 68, 89, 0.3);
  width: 100%;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ffc400, #ffc800);
  border-radius: 15px;
  width: 80px;
  height: 80px;
  color: #354459 !important;
  font-size: 22px;
  box-shadow: 0 8px 70px 5px rgba(255, 196, 0, 0.4);
  padding: 25px;
}

.service-item h5 {
  font-weight: 700;
  margin-top: 30px;
  color: #354459;
  line-height: 1.6;
  font-size: 18px !important;
  transition: color 0.2s ease-in-out;
}

.service-item:hover {
  background: #354459;
}

.service-item:hover h5 {
  color: #f4f5f7;
}

.service-item:nth-child(1) {
  background: #354459;
}

.service-item:nth-child(1) h5 {
  color: #f4f5f7;
}

@media (max-width: 992px) {
  .service-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .service-container {
    margin-top: 170px;
  }

  .service-content {
    grid-template-columns: 1fr;
  }

  .service-icon {
    width: 60px;
    height: 60px;
    padding: 18px;
  }
}
