.hero {
  padding-top: 200px;
  color: #fff;
}

.hero > * {
  text-align: center !important;
  line-height: 1.4;
}

.hero h2 {
  font-weight: 600;
}

.hero h2::after {
  color: #ffc700 !important;
}

.social-item {
  background-color: #93949c;
  padding: 11px;
  border-radius: 200px;
  font-size: 25px;
}

.social-item:hover {
  background-color: #ffc700;
  color: #191d30 !important;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.box-hero {
  gap: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-hero img {
  max-width: 200px;
}

.hero button {
  background-color: #ffc700;
  color: #191d30 !important;
  border-radius: 12px;
  padding: 10px 30px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700 !important;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero button:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .hero {
    padding-top: 180px;
  }
  .box-hero {
    gap: 15px;
    display: grid;
    width: 100%;
    place-items: center !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .box-hero img:nth-child(3) {
    grid-column: 1 / 3;
    width: 50%;
    gap: 30px;
  }
  .box-hero img {
    max-width: 150px;
    width: 100%;
  }

  .hero button {
    border-radius: 7px;
    padding: 5px 20px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700 !important;
  }

  .social-item {
    background-color: #93949c;
    padding: 9px;
    border-radius: 200px;
    font-size: 17px;
  }
}
