.section {
  width: 100%;
  text-align: right;
  position: relative;
}

.section__title {
  color: #284258;
  font-weight: bold;
}

.section::before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 100px;
  height: 7px;
  background-color: #ffc700;
}

html[dir="ltr"] .section::before {
  right: auto;
  left: 0;
}

@media (max-width: 992px) {
  .section::before {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80px;
    margin: 0 auto;
  }

  html[dir="ltr"] .section::before {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80px;
    margin: 0 auto;
  }
}
