.m-container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 1280px) {
  .m-container {
    max-width: 1140px;
  }
}

@media (max-width: 1100px) {
  .m-container {
    max-width: 950px;
  }
}

@media (max-width: 992px) {
  .m-container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .m-container {
    max-width: 90%;
  }
}
