@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-HairLine.eot");
  src: url("../fonts/Rokh-HairLine.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-HairLine.woff2") format("woff2"),
    url("../fonts/Rokh-HairLine.woff") format("woff"),
    url("../fonts/Rokh-HairLine.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-ExtraLight.eot");
  src: url("../fonts/Rokh-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-ExtraLight.woff2") format("woff2"),
    url("../fonts/Rokh-ExtraLight.woff") format("woff"),
    url("../fonts/Rokh-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Light.eot");
  src: url("../fonts/Rokh-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Light.woff2") format("woff2"),
    url("../fonts/Rokh-Light.woff") format("woff"),
    url("../fonts/Rokh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Regular.eot");
  src: url("../fonts/Rokh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Regular.woff2") format("woff2"),
    url("../fonts/Rokh-Regular.woff") format("woff"),
    url("../fonts/Rokh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Normal.eot");
  src: url("../fonts/Rokh-Normal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Normal.woff2") format("woff2"),
    url("../fonts/Rokh-Normal.woff") format("woff"),
    url("../fonts/Rokh-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Medium.eot");
  src: url("../fonts/Rokh-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Medium.woff2") format("woff2"),
    url("../fonts/Rokh-Medium.woff") format("woff"),
    url("../fonts/Rokh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-SemiBold.eot");
  src: url("../fonts/Rokh-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-SemiBold.woff2") format("woff2"),
    url("../fonts/Rokh-SemiBold.woff") format("woff"),
    url("../fonts/Rokh-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Bold.eot");
  src: url("../fonts/Rokh-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Bold.woff2") format("woff2"),
    url("../fonts/Rokh-Bold.woff") format("woff"),
    url("../fonts/Rokh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-ExtraBold.eot");
  src: url("../fonts/Rokh-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-ExtraBold.woff2") format("woff2"),
    url("../fonts/Rokh-ExtraBold.woff") format("woff"),
    url("../fonts/Rokh-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Black.eot");
  src: url("../fonts/Rokh-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-Black.woff2") format("woff2"),
    url("../fonts/Rokh-Black.woff") format("woff"),
    url("../fonts/Rokh-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-UltraBold.eot");
  src: url("../fonts/Rokh-UltraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rokh-UltraBold.woff2") format("woff2"),
    url("../fonts/Rokh-UltraBold.woff") format("woff"),
    url("../fonts/Rokh-UltraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
