/* Header */
.m-header {
  padding: 15px 40px;
  border-radius: 15px;
  background: rgba(164, 164, 164, 0.52) !important;
  box-shadow: 0 4px 30px rgba(123, 123, 123, 0.1) !important;
  backdrop-filter: blur(9.5px) !important;
  -webkit-backdrop-filter: blur(9.5px) !important;
  border: 1px solid rgba(193, 193, 193, 0.3) !important;
  min-height: 85px;
  position: fixed;
  top: 0;
  inset-inline: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  z-index: 10;
}

.logo-header {
  max-width: 200px;
  height: auto;
  margin-top: -5px !important;
}

.btn-openNav {
  background: transparent;
  color: #fff;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
  transition: -webkit-transform 0.3s ease !important;
  transition: transform 0.3s ease !important;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease !important;
  margin-top: 2px !important;
}

.btn-openNav.open {
  -webkit-transform: rotate(90deg) scale(1) !important;
  transform: rotate(90deg) scale(1) !important;
}

@media (max-width: 1280px) {
  .m-header {
    max-width: 1140px;
  }
}

@media (max-width: 1100px) {
  .m-header {
    max-width: 950px;
  }
}
@media (min-width: 1140px) {
  .m-header {
    flex-direction: row-reverse !important;
  }
  .nav-list {
    margin-top: 5px !important;
  }
}
@media (max-width: 1140px) {
  .m-header {
    padding: 0 30px !important;
    padding-top: 22px !important;
    min-height: 75px;
    max-height: 75px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .m-header.open {
    max-height: 800px;
  }
}
@media (max-width: 992px) {
  .m-header {
    max-width: 700px;
  }
  .logo-header {
    max-width: 150px;
  }
}

@media (max-width: 768px) {
  .m-header {
    max-width: 90%;
  }
  .logo-header {
    max-width: 130px;
    margin-top: 1px !important;
  }
}

/* NavBar */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 25px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.nav-list > * {
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle !important;
  transition: all 0.4s;
}

.nav-list .active {
  color: #ffc700 !important;
}

@media (min-width: 1140px) {
  .btn-openNav {
    display: none !important;
  }

  .nav-list .active {
    color: #191d30 !important;
  }

  .nav-list .active.home-initial {
    color: #ffc700 !important;
  }
}

@media (max-width: 1140px) {
  .nav-list {
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    width: 100%;
    gap: 15px 20px;
    max-height: 700px;
    overflow: hidden;
  }

  .nav-item {
    font-weight: 700 !important;
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px !important;
    padding-top: 15px !important;
  }

  .nav-item:last-child {
    margin-bottom: 30px !important;
  }

  .nav-item:hover {
    background-color: #ffc700;
  }

  .nav-list .active {
    background-color: #ffc700;
    color: #191d30 !important;
  }
}

/* lang */

.language-switcher .lang-btn {
  background: none;
  border: none;
  color: #191d30;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 8px;
  transition: all 0.3s;
  opacity: 0.5;
  background: #ffc700;
  padding: 5px !important;
  padding-bottom: 0px !important;
  border-radius: 5px !important;
}

.language-switcher .lang-btn.active {
  opacity: 1;
}

.language-switcher .lang-btn:hover {
  color: #191d30;
  opacity: 1 !important;
}

.language-switcher span {
  margin-top: 6px !important;
  padding: 0px !important;
  color: #191d30;
}

@media (max-width: 600px) {
  .language-switcher span {
    margin-top: 4px !important;
  }
  .language-switcher .lang-btn {
    font-size: 12px !important;
    padding: 3px 5px !important;
    padding-bottom: 0px !important;
  }
}
