.article-container {
  margin-top: 200px;
}

.article-bg {
  position: relative;
}

.article-bg::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: calc(100% - 50px);
  background: url(../../../assets/img/articleBg.webp);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 3000px;
  margin: 0 auto;
  z-index: -1;
}

.article-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.article-item {
  background-color: #fff;
  min-height: 500px !important;
  transition: all 0.2s ease-out;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.article-item img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 30px 30px 0 0;
}

.article-item h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  color: #354459;
  line-height: 1.4;
}

.article-item p {
  margin: 10px 25px;
  margin-bottom: 25px !important;
  color: #9c9c9c;
  line-height: 1.6;
  text-align: justify !important;
  text-align-last: right !important;
}

.article-item:hover {
  box-shadow: 0px 8px 70px rgba(11, 46, 65, 0.12);
  -webkit-transform: scale(98%);
  transform: scale(98%);
}

@media (max-width: 1140px) {
  .article-content {
    grid-template-columns: 1fr 1fr;
  }
  .article-item img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .article-content {
    grid-template-columns: 1fr;
  }
  .article-item img {
    height: 60vw;
  }
  .article-item {
    min-height: auto !important;
  }
}

@media (max-width: 600px) {
  .article-container {
    margin-top: 70px;
  }
  .article-item h3 {
    font-size: 18px;
  }
}
