.article-container {
  margin-top: 200px;
}

.article-bg {
  position: relative;
}

.article-bg::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: url(../../../assets/img/articleBg.webp) top left / cover no-repeat;
  max-width: 3000px;
  margin: 0 auto;
  z-index: -1;
  pointer-events: none;
}

.article-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.article-item {
  background-color: #fff;
  min-height: 500px;
  transition: all 0.2s ease-out;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.article-item img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 30px 30px 0 0;
  flex-shrink: 0;
}

.article-item h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 25px 25px 0;
  color: #354459;
  line-height: 1.4;
}

.article-item p {
  margin: 10px 25px 25px;
  color: #9c9c9c;
  line-height: 1.6;
  text-align: justify;
  text-align-last: right;
  flex-grow: 1;
}

html[dir="ltr"] .article-item p {
  text-align: justify !important;
  text-align-last: left !important;
}

.article-item:hover {
  box-shadow: 0 8px 70px rgba(11, 46, 65, 0.12);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

@media (max-width: 1140px) {
  .article-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .article-item img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .article-content {
    grid-template-columns: 1fr;
  }

  .article-item img {
    height: 60vw;
  }

  .article-item {
    min-height: auto;
  }
}

@media (max-width: 600px) {
  .article-container {
    margin-top: 70px;
  }

  .article-item h3 {
    font-size: 18px;
  }
}
