.contact-container {
  margin-top: 180px;
}

.condev-logo-contact {
  width: 20vw;
  max-width: 380px;
  height: auto;
}

.contact-content {
  background: url(../../../assets/img/contactBg.webp) right top / cover
    no-repeat;
  padding: 35px;
  padding-bottom: 100px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start !important;
}

.contact-form {
  width: 60%;
  margin-left: auto;
  background: rgba(87, 98, 117, 0.67);
  border-radius: 20px;
  box-shadow: 0 8px 70px rgba(11, 46, 65, 0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 40px;
  padding-top: 20px;
  max-width: 700px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  width: 100%;
  padding: 15px 0 25px;
  margin: 40px 0 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #cfd9e9;
  resize: none;
  transition: border-color 0.2s ease-out;
  color: #fdfeff !important;
  font-size: inherit;
}

.contact-form input:first-of-type {
  margin-top: 30px !important;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form h3 {
  color: #fff;
  font-weight: bold;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #cfd9e9 !important;
  opacity: 1;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: #cfd9e9 !important;
  opacity: 1;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  color: #cfd9e9 !important;
  opacity: 1;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #cfd9e9 !important;
  opacity: 1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom-color: #ffc700;
}

.contact-form button {
  background-color: #ffc700;
  color: #191d30 !important;
  border-radius: 12px;
  padding: 15px 30px 10px;
  font-size: 20px;
  font-weight: 700 !important;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  width: 100%;
}

.contact-form button:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .contact-content {
    padding: 20px;
    border-radius: 25px;
  }

  .contact-form {
    width: 100%;
    padding: 25px;
    border-radius: 25px;
  }

  .condev-logo-contact {
    width: 40vw;
    max-width: 380px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px 0 20px;
    margin-top: 45px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    margin-top: 110px;
  }

  .contact-form button {
    border-radius: 7px;
    padding: 10px 20px 5px;
    font-size: 18px;
  }

  .contact-form h3 {
    font-size: 18px;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
}
