.footer {
  background: #ffc700;
  padding: 20px 70px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3000px;
  margin: 200px auto 0;
  line-height: 1.8;
}

.footer small {
  color: #354459;
  text-align: center;
}

.footer span,
.footer small:nth-child(2) {
  color: #000;
  margin: 0 5px;
  direction: ltr;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 100px;
  }
}
